<div class="container fluid" ng-controller = 'chatController'>
	
	<div class ="row">

		<div class="col-md-7" id="keyboard">
			<button id="blink-btn-rooms" class= "btn btn-info pull-right">Blink</button>
			
			<h2>Welcome, <span ng-bind = 'username'></span>!<h2>
			<h4>Please select a chatroom:</h4>

			<!-- enter chatroom -->
			<form id = 'enter_room_form' ng-submit = 'enter_room()'>
				<input id = 'room_name_input' type = 'text' ng-model = 'roomname' hidden>
				<input type = 'submit' id = 'enter-room-hidden-submit-btn' hidden>
			</form>


			<!-- make new chatroom -->
			<form id = 'new_room_form' ng-submit = 'new_room()'>
				<input type = 'submit' id = 'new-room-hidden-submit-btn' hidden>
			</form>

			<ul id = 'room_list'>
				<li class = 'room_list_item' ng-repeat = 'aroom in rooms'><span ng-bind = 'aroom'></span></li>
				<li class = 'room_list_item last'>Make a New Room</li>
			</ul>

		</div>
	
		
		<div class="col-md-2 pull-right" id="room_instructions">
			<span class="label label-info">Instructions</span>
				<ul class="list-group no_bullets">
					<li>Blink your eyes to select a chatroom.</li>
				</ul>
		</div>
	</div> <!-- end row -->
</div>