

<div ng-controller = 'chatController' class="container-fluid">
	<h3>Welcome, <span ng-bind = 'username'></span>!</h3>
	<div class="row">

		<div class="col-md-5" id="keyboard">
				<h3 class="enter_message">Enter your message here:</h3>
			
			<form id = 'login_form' ng-submit = 'type_submit()'>
				<input ng-model = 'message' type = 'text' id = 'building_word' class="well">
				<input type = 'submit' id = 'chat-hidden-submit-btn' hidden>
			</form>

			<a href = '#/chat' class = 'keyboard-btn btn btn-info'>Use Blink Detection</a>
			<button ng-click = 'logout()' class = 'keyboard-btn btn btn-custom'>Logout</button>

			
		</div>
		<div id='chats' class="col-md-3">

			<p ng-repeat = 'message in messages track by $index'>
				<span class = 'italics_name' ng-if = 'message.alert' ng-bind = 'message.alert'></span>
				<span ng-if = 'message.name'>
					<span class = 'bold_name' ng-bind = 'message.name'></span>:
					<span ng-bind = 'message.chat'></span>
				</span>
			</p>
		</div>
	
	</div> <!--end row-->
</div>