#letter_grid td {
	height: 40px;
	width: 100px;
	border: 1px solid #000;
	color: #000;
	font-weight: bold;
	text-align: center;
	font-size: 25px;
	padding: 5px;
}

.highlight_row td.highlight_cell {
	background: #23e6ff;
}

.highlight_row .letter, .highlight_row .last, .highlight_row .action {
	 background: #249090;
}

button {
	margin-top: 20px;
}

.btn-custom { 
  color: #FFFFFF; 
  background-color: #595959; 
  border-color: #130269; 
} 

#building_word {
	height: 40px;
	border: 1px solid #000;
	color: black;
	padding: 5px;
	background-color: white;
}
#chats, table {
	display: inline-block;
	vertical-align: top;
	width: 350px;
	height: 450px;
}

#chats {
	margin-left: 15px;
	position: relative;
  	font-size: 14px;
  	padding: 10px;
	border: 1px solid grey;
	box-shadow: 0 1px 1px rgba(0,0,0,.05);
	-moz-box-shadow: 0 1px 1px rgba(0,0,0,.05);
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
	background-color: mintcream;
}

/*#letter_grid {
	height: 150px;
}*/
#keyboard {
	background-color: mintcream;
	height: 520px;
}

.row {
	height: 100%;
}
#instructions {
	background-color: mintcream;
	height: 270px;
	padding-right: 35px;
	padding-top: 25px;
	margin-left: 25px;
}

#instructions-chat {
	background-color: mintcream;
	height: 240px;
	padding-right: 10px;
	padding-top: 15px;
	margin-top: 200px;
	margin-left: 50px;
	z-index:1;
	position: absolute;
}

#head {
	position: absolute;
}


h1, h3 {
	color: white;
}

.label-info {
	font-size: 20px;
	margin-left: 20px;
}

ol {
	margin-top: 15px;
}

label {
	padding-top: 20px;
}

body {
	background: #66cdcc;
	  /* Old browsers */
	background: -moz-linear-gradient(-45deg, #66cdcc 0%, #336799 100%);
	  /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #66cdcc), color-stop(100%, #336799));
	  /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-45deg, #66cdcc 0%, #336799 100%);
	  /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-45deg, #66cdcc 0%, #336799 100%);
	  /* Opera 11.10+ */
    background: -ms-linear-gradient(-45deg, #66cdcc 0%, #336799 100%);
	  /* IE10+ */
    background: linear-gradient(-45deg, #66cdcc 0%, #336799 100%);
	  /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#66cdcc, endColorstr=#336799, GradientType=1); 
	height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
